body {
  font-family: Arial, sans-serif;
}

.navbar {
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
}

.table th,
.table td {
  vertical-align: middle;
}

.sidebar {
  width: 250px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.flex-grow-1 {
  margin-left: 250px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
  .flex-grow-1 {
    margin-left: 200px;
  }
}

.table-action-buttons button {
  margin-right: 5px;
}

.btn-disabled {
  opacity: 0.65;
  cursor: not-allowed;
}